.draggable-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #e0e0e0;

  .header{
    color: darkgray;
  }

  .content{
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .react-resizable{
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    .react-resizable-handle{
      position: absolute;
      border: 1px solid #e0e0e0;
      z-index: 1;
      width: 10px;
      height: 10px;
      background: transparent;

      &-e{
        right: 0;
        top:0;
        bottom: 0;
        cursor: ew-resize;
        width: 5px;
        height: 100%;
      }

      &-w{
        left: 0;
        top:0;
        bottom: 0;
        cursor: ew-resize;
        width: 5px;
        height: 100%;
      }

      &-n{
        top: 0;
        left: 0;
        right: 0;
        cursor: ns-resize;
        height: 5px;
        width: 100%;
      }

      &-s{
        bottom: 0;
        left: 0;
        right: 0;
        cursor: ns-resize;
        height: 5px;
        width: 100%;
      }

      &-nw{
        top: 0;
        left: 0;
        cursor: nwse-resize;
      }

      &-ne{
        top: 0;
        right: 0;
        cursor: nesw-resize;
      }

      &-sw{
        bottom: 0;
        left: 0;
        cursor: nesw-resize;
      }

      &-se{
        bottom: 0;
        right: 0;
        cursor: nwse-resize;
      }

    }

  }
}